<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a href="/sen/tokenblockchain">SEN Blocks</a></li>
          <li class="breadcrumb-item active">SEN Transactions</li>
        </ol>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-12 col-xs-12">
        <div class="card-box">
          <h4 class="header-title">Total of <span id="total"><%= totalNumber %></span> Transactions</h4>
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
              <thead>
                <tr>
                  <th>TxHash</th>
                  <th>Block</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Value</th>
                  <th>Age</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody id="tx-table">
                <% transactions.forEach(tx=>{ %>
                <% if (tx.TxFrom.substring(0, 4) !== '0000') { %>
                <tr>
                  <td><a href="/sen/tokentxdetails?hash=<%= tx.TxHash %>">0x<%= tx.TxHash.substring(0,16) %>...</a></td>
                  <td><a href="/sen/tokenblockdetailsbynumber?number=<%= tx.BlockNumber %>"><%= tx.BlockNumber %></a></td>
                  <td><a href="/sen/accountdetails?address=<%= tx.TxFrom %>">0x<%= tx.TxFrom.substring(0,16) %>...</a></td>
                  <td><a href="/sen/accountdetails?address=<%= tx.TxTo %>">0x<%= tx.TxTo.substring(0,16) %>...</a></td>
                  <td><%= tx.Value %> SEN</td>
                  <td><%= tx.TimeStamp %></td>
                  <td><%= tx.TxReceiptStatus %></td>
                </tr>
                <% } %>
                <% }) %>
              </tbody>
            </table>
            <div id="pagination" class="pagination pagination-split justify-content-end footable-pagination m-t-10">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- end container -->
</div>
<!-- end wrapper -->
<script>
var totalNumber = <%- totalNumber %>
</script>