 <div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a href="/tokenblockchain">Token Blockchain</a></li>
          <li class="breadcrumb-item active">Blockchain</li>
        </ol>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-12 col-xs-12">
        <div class="card-box">
          <h4 class="header-title">Blocks Sum: <span id="total"><%= totalNumber %></span></h4>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Height</th>
                  <th>Time Stamp</th>
                  <th>Transactions</th>
                  <th>Beneficiary</th>
                  <th>Block Size (Byte)</th>
                </tr>
              </thead>
              <tbody id="blockchain-table">
                <% blockchain.forEach((block)=>{ %>
                <tr>
                  <td><a href="/tokenblockdetails?hash=<%= block.Hash %>"><%= block.Number %></a></td>
                  <td><%= new Date(block.TimeStamp).toLocaleString() %></td>
                  <td><%= block.Transactions.length %></td>
                  <td>0x<%= block.Beneficiary %></td>
                  <td><%= JSON.stringify(block).length %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <div id="pagination" style="margin-bottom: 20px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
<!-- end wrapper -->
<script>
var totalNumber = <%- totalNumber %>
</script>