<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>BIUTBlock - Mapping</h3>
        <form id="verify-form" class="form-horizontal" role="form" method="post">
          <div class="form-group row">
            <label class="col-2 col-form-label">ETH Address</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="ethaddress" value="<%=
                mapping.ethaddress %>" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">BIU Address</label>
            <div class="col-md-10">
              <input class="form-control" type="text" name="biutaddress" value="<%=
                mapping.biutaddress %>" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <div class="checkbox checkbox-primary">
                <input type='hidden' value='false' name='confirm'>
                <input id="confirm" name="confirm" value="true" type="checkbox">
                <label for="confirm">
                  Please verify the value of transaction carefully!
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Value</label>
            <div class="col-md-10">
              <input class="form-control" type="text" id="value" name="value" value="<%= mapping.value || 'waiting for eth network' %>" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Remarks</label>
            <div class="col-md-10">
              <textarea class="form-control" name="remarks" rows="3"><%=
                  mapping.remarks %></textarea>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <button type=button onclick="goBack()" class="btn btn-success">Back</button>
            <button type=button onclick="save()" class="btn btn-warning" style="margin-left: 16px">Save but not transfer Coins</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 16px">Confirmed
              and Transfer Coins</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function goBack() {
  window.history.back();
}
function save() {
  document.getElementById("verify-form").action = document.getElementById("verify-form").action + "&type=save"
  document.getElementById("verify-form").submit()
}

$("#verify-form").submit(function(e) {
  if (!$("#confirm").prop("checked")) {
    alert('Please confirm the value of transaction!')
    e.preventDefault()
    return false
  } else {
    if (window.confirm('Are you sure to Confirm?')) {
      return true
    } else {
      e.preventDefault()
      return false
    }
  }
})

$.get('http://api.etherscan.io/api?module=account&action=tokentx&address=0x<%= (mapping.ethaddress.substring(0, 2) === "0x" ? mapping.ethaddress.substring(2) : mapping.ethaddress).toLowerCase() %>&startblock=0&endblock=999999999&sort=asc&apikey=FKI6JY1EK4ENZMI47SARE4XK9CQ7PD7C3H', function( data ) {
  data.result.forEach(tx=>{
    if (tx.hash === '0x<%= (mapping.txhash.substring(0, 2) === "0x" ? mapping.txhash.substring(2) : mapping.txhash).toLowerCase() %>') {
      $("#value").val(tx.value / 1000000000000000000)
    }
  })
})
</script>